#@font-face {
#  font-family: 'SAP Fiori Icons';
#  src:
#    url('https://sutapamitra.github.io/fonts/SAP-icons.ttf') format('truetype');
#  font-weight: normal;
#  font-style: normal;
#}

#@font-face {
#  font-family: 'SAP Fiori Tools';
#  src:
#    url('https://sutapamitra.github.io/fonts/SAP-icons-TNT.ttf') format('truetype');
#  font-weight: normal;
#  font-style: normal;
#}

@font-face {
  font-family: 'SAP Business Suite';
  src:
   url('https://sutapamitra.github.io/fonts/BusinessSuiteInAppSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}