
@font-face {
  font-family: 'SAP Fiori Icons';
  src:
    url('fonts/SAP-icons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP Fiori Tools';
  src:
    url('fonts/SAP-icons-TNT.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SAP Business Suite';
  src:
    url('fonts/BusinessSuiteInAppSymbols.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}